---
import ResponsiveImage from "./ResponsiveImage.astro";
import workHeading from "../assets/work.svg";
const { items } = Astro.props;
---

<style>
  .work-list-section {
    padding: var(--spacing-2);
    max-width: 60rem;
    margin: 0 auto;
  }

  .work-list-heading {
    height: 1.4em;
    margin: var(--spacing-2) 0;
    text-decoration: underline;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .work-list-item {
    display: flex;
    margin-bottom: var(--spacing-2);
  }

  .work-item-image {
    width: 12em;
    margin-right: var(--spacing-2);
    box-shadow: 7px 7px 0 var(--blue);
    transition: box-shadow 0.2s ease-in-out;
  }

  a:hover .work-item-image {
    box-shadow: 0px 0px 0 var(--blue);
  }

  .work-item-heading {
    margin-top: 0;
  }

  .work-item-copy {
    max-width: 30em;
  }

  .work-item-links {
    display: flex;
  }

  .work-item-links span {
    margin: 0 0.4em;
  }

  @media screen and (min-width: 640px) {
    .work-list-heading {
      height: 2em;
    }
  }
</style>

<section class="work-list-section">
  <img src={workHeading.src} alt="Work" class="work-list-heading" />
  <ul>
    {
      items.map((item) => {
        const { title, description, image, url, github } = item;
        return (
          <li class="scroll-into-view work-list-item">
            <a href={url} target="_blank">
              <ResponsiveImage
                image={image}
                alt=""
                widths={[200, 400]}
                sizes="12em"
                class="work-item-image"
              />
            </a>
            <div class="work-item-copy">
              <h3 class="work-item-heading">{title}</h3>
              <p class="work-item-description">{description}</p>
              <p class="work-item-links">
                <a href={url} target="_blank">
                  Link
                </a>
                {github && (
                  <>
                    <span> | </span>
                    <a href={github} target="_blank">
                      Github
                    </a>
                  </>
                )}
              </p>
            </div>
          </li>
        );
      })
    }
  </ul>
</section>
